<h1>Skills#index</h1>
  <div class="container">
    <div class="cards-grid">
    <% @skills.each do |x|  %>
        <div class="card-trip">
          <div class="card-trip-infos">
            <div>
              <%= cl_image_tag x.photo.key, height: 300, width: 500, crop: :scale %>
              <p><%= x.name %> - <%= link_to "show", skill_path(x) %>|<%= link_to "delete", skill_path(x), method: :delete %>|<%= link_to "edit", edit_skill_path(x)%></p>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  </div>
<% if user_signed_in? %>
 <%= link_to "new", new_skill_path %>
<% end %>

