<h1>Skills#index</h1>
<% @skills.each do |x|  %>
  <%= cl_image_tag x.photo.key, height: 300, width: 400, crop: :fill %>
  <p><%= x.name %> - <%= link_to "show", skill_path(x) %>|<%= link_to "delete", skill_path(x), method: :delete %>|<%= link_to "edit", edit_skill_path(x)%></p>
<% end %>
<% if user_signed_in? %>
 <%= link_to "new", new_skill_path %>
<% end %>

