<div class="main-div">

  <div class="skill-resume-title">
    <h2>Résumé de vos informations</h2>
  </div>


  <div class="skill-resume">
    <% if @skill.photo.attached? %>
      <div class="skill-resume-picture" style="background-image: url(<%= cl_image_path @skill.photo.key %>)"></div>
    <% else %>
      <div class="skill-resume-picture" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1280px-No_image_3x4.svg.png)"></div>
    <% end %>
      <div class="skill-resume-infos">
        <h2> <%= @skill.name %></h2>
        <p><%= @skill.description %></p>
        <p><%= @skill.price %> euros</p>

          <% @reviews.each do |x| %>
          <% if x.skill == @skill %>

          <p>Stars: <%= x.rating %></p>
          <p>Commentaire: <%= x.content %></p>
          <%= (link_to "Delete Review", skill_review_path(@skill,x), method: :delete, class:'btn_no_move') if x.skill.users.include? current_user %>
          <%= (link_to "Edit Review", edit_skill_review_path(@skill,x), class:'btn_no_move') if x.skill.users.include? current_user %>
        <% end  %>
      <% end %>
    </div>
  </div>
</div>

<div class="btn-card">
<%= link_to "back", skills_path, class:'btn_no_move'%>
<%= (link_to "Add Review",  new_skill_review_path(@skill), class:'btn_no_move')if @skill.users.include? current_user  %>

<%= link_to "Buy", achat_path(@skill), class:'btn_no_move' %>
</div>

