<div class="main-div" style="background-color: #000911">

  <div class="summary-title">
    <h2>Summary</h2>
  </div>

  <div class="check-out">
    <h2> <%= @skill.name %></h2>
    <h2><%= @skill.description %></h2>
    <p>The picture you updated:</p>
  </div>

  <div class="skill" style="background-image: url(<%= cl_image_path @skill.photo.key %>)"></div>
  <div class="price">
    <h3>Price: <%= @skill.price %></h3>
  </div>

  <% @reviews.each do |x| %>
    <%= x.rating %>
    <%= x.content %>
    <%= link_to "Delete Review", skill_review_path(@skill,x), method: :delete %>
    <%= link_to "Edit Review", edit_skill_review_path(@skill,x) %>
  <% end %>

</div>


<%= link_to "back", skills_path %>
<%= link_to "New Review", new_skill_review_path(@skill) %>

<%= link_to "Buy", achat_path(@skill) %>


