<h1><%= @skill.name %></h1>
<p>Description :<%= @skill.description %></p>
<h3>Price :<%= @skill.price %></h3>
<%= cl_image_tag @skill.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to "back", skills_path %>

