<h1>Reviews edit</h1>
<%= simple_form_for [@skill, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

<%= link_to "back", skills_path, class:'mon-btn'%>
