<div class="container">
  <div class="newglobal">
    <h1>Reviews new</h1>
    <%= simple_form_for [@skill, @review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :content %>
      <%= f.button :submit, id: "btn_new" %>
    <% end %>
    <%= link_to "back", skills_path, class:'mon-btn' %>
  </div>
</div>

